.queries__container {
    margin-top: 1rem;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}

.queries__grid {
    background-color: var(--light-text);
    display: grid;
    grid-template-columns: repeat(14, 1fr);
}

.queries__header {
    background-color: var(--menu-bg);
    text-align: center;
    font-size: 0.8rem;
    color: var(--light-text);
    border: 2px solid var(--page-bg);
    padding: 0.5rem 0.5rem 0.3rem 0.5rem;
}

.queries__content {
    padding: 0.5rem 0.75rem;
    color: var(--dark-text);
    border: 3px solid var(--dark-text);
}

.queries__more__btn {
    width: max-content;
    color: var(--light-text);
    background-color: var(--diff-btn);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    margin-top: 0.6rem;
}