.contact__container {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 16;
    background-color: var(--item-bg);
    border: 4px solid var(--diff-btn);
    border-radius: 0.75rem;
    padding: 1rem;
    color: var(--dark-text);
}

.contact__container > h3 {
    padding-left: 1rem;
}

.contact__form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input, textarea {
    width: 80%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--menu-bg);
    resize: none;
    color: var(--dark-text);
}

.contact__option-tag {
    position: relative;
    top: 0.6rem;
    left: 0.8rem;

    padding: 0.5rem 0.5rem;
    background-color: var(--item-bg);

    z-index: 10;
}

.contact__submit {
    background-color: var(--diff-btn);
    color:  var(--light-text);
    width: max-content;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin: 0rem 0.5rem 0.5rem 0.5rem;
}

.contact__button {
    background-color: var(--diff-btn);
    color:  var(--light-text);
    padding: 0.5rem 0.5rem;
    border-radius:  0.3rem;
    border: transparent;
}