.gallery__container {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    margin-top: 0.5rem;
    background-color: var(--menu-bg);
    border-radius: 0.7rem;
}

.gallery__title {
    color: var(--light-text);
    padding-left: 1rem;
}

.gallery__row {
    display: flex;
    gap: 0.5rem;
    flex-direction: row;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.gallery__box {
    padding: 0.75rem 1.2rem;
    border-radius: 0.5rem;
    background-color: var(--item-bg);
    cursor: pointer;
    width: 12.5rem;
    height: 11rem;
    text-align: center;
}

.gallery__entry {
    color: var(--dark-text);
    font-size: 1.2rem;
}

.gallery__box__img {
    margin-left: -0.7rem;
    width:  13rem;
    height:  9rem;
    border-style: double;
    border-width: 0.5rem;
    border-color: var(--diff-btn);
}