.footer__container {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    height: 5rem;
    padding-top: 3rem;
    color: var(--text-bg);
    padding-bottom: 3rem;
}

.footer__row {
    display: flex;
    text-align:  center;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 2rem;
}

.footer__element {
    padding-left: 1rem;
    padding-right: 1rem;
}