.search__container {
    display: flex;
    flex-direction: row;
    margin-top: 0.4rem;
    margin-left: 1rem;
    margin-bottom: 0.4rem;
    height: 2rem;
}

.search__field {
    background-color: var(--light-text);
    color: var(--dark-text);
    width: 20rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    border-radius: 0.5rem;
}

.search__submit {
    background-color: var(--search-btn);
    color: var(--dark-text);
    padding: 0 1.3rem;
    border-radius: 0.5rem;
    font-size: 2rem;
}