:root{
    --color-1: #27709b;
    --color-2: #5433af;
}

body {
    background: lightblue;
    color: darkblue;
    display: flex;
    flex-direction: column;
}

.main__container {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}